source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

framework: net461
strategy: min
storage: none

nuget FSharp.Core 4.3.4
nuget WebSharper ~> 4.7
nuget WebSharper.FSharp ~> 4.7
nuget Suave 2.5.6
nuget WebSharper.Owin ~> 4.7
nuget WebSharper.UI ~> 4.7
nuget WebSharper.Testing ~> 4.7
nuget WebSharper.Tests ~> 4.7

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
